* {
    padding: 0;
    margin: 0;
    border: 0;
}

:root {
    --cor_degrade: #3D5AFE;
    --cor_header: #2196F3;
    --cor_sombra: #0D47A1;
    --fonte: verdana;
}

.flex {
    display: flex;
}

header {
    height: 200px;
    background: radial-gradient(var(--cor_header), var(--cor_degrade));
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-family: var(--fonte);
}

header > span.material-icons {
    font-size: 64px;
    background-color: #fff;
    border-radius: 100%;
    color: var(--cor_header);
    padding: 10px;
    position: absolute;
    top: 150px;
}

main > section {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

main > section > form {
    flex-direction: column;
}

main > section > form > label.text {
    font-family: var(--fonte);
    font-size: 15px;
    flex-direction: column;
}

main > section > form > label > input.inserir {
    border: 2px solid #000;
    padding: 5px;
    margin: 5px;
    margin-bottom: 15px;
}

main > section > form >  input.busca {
    background-color: var(--cor_header);
    color: #fff;
    font-family: var(--fonte);
    font-size: 15px;
    padding: 15px;
    box-shadow: 3px 3px 2px var(--cor_sombra);
}

main > section > form >  input.busca:hover {
    cursor: pointer;
    border: 2px solid rgb(4, 4, 119);
    box-shadow: 3px 3px var(--cor_sombra);
}