*{
    padding: 0;
    border: 0;
    margin: 0;
}

:root{
    font-size: 30px;
}

article#el-pai{
    width: 100vw;
    height: 100vh;
    padding: 5px;
    background-color: lightgray;
    font-size: 20px;
}

article#el-pai p#el-filho{
    width: 100%;
    height: auto;
    background-color: cyan;
    font-size: 1rem;
}