*{
    padding: 0;
    margin: 0;
    border: 0;
}

:root{
    --cor_header_footer: #212121;
    --cor_mudanca_botao: rgb(212, 0, 0);
    --cor_home: #F9A825;
    --fonte: "helvetica";
}

header {
   background-color: var(--cor_header_footer); 
   height: 40px;
}

header > h1 {
    color: #fff;
    font-family: var(--fonte);
    font-size: 28px;
    position: absolute;
    left: 100px;
}

.flex {
    display: flex;
}

header > nav > form {
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 5px;
}

header > nav > form > input#botao_home {
    background-color: var(--cor_home);
    border-radius: 25%;
    justify-content: center;
    padding: 5px;
}

header > nav > form > input#botao_home:hover {
    cursor: pointer;
    border: 3px solid #fff;
}

header > nav > form > input.botoes {
    width: 100px;
    height: 30px;
    font-size: 18px;
    color: #fff;
    background-color: var(--cor_header_footer);
    font-family: var(--fonte);
    padding: 5px;
}

header > nav > form > input.dois_botoes:hover {
    background-color: var(--cor_mudanca_botao);
    cursor: pointer;
}

main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

main > section#text {
    width: 50%;
    font-family: var(--fonte);
    font-size: 28px;
    border-right: 2px dotted #000;
    position: absolute;
    bottom: 50%;
    margin-left: 20px;
}

main > section.input {
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: 15%;
    right: 50px;
    align-items: center;
    flex-direction: column;
}

main > section > section#text_email {
    font-family: var(--fonte);
    font-size: 20px;
}

main > section > form#envio_email {
    flex-direction: row;
}

main > section > form > label.email {
    font-family: var(--fonte);
    font-size: 20px;
    width: 100%;
}

main > section > form > label > input {
    border: 2px solid black;
    width: 100%;
    border-radius: 5%;
    margin: 10px;
    padding: 5px;
}

main > section > form > input.enviar {
    background-color: rgb(99, 99, 99);
    font-family: var(--fonte);
    font-size: 20px;
    color: white;
    padding: 5px;
    margin-left: 10px;
}

main > section > form > input.enviar:hover {
    cursor: pointer;
    border: 2px solid var(--cor_mudanca_botao);
}

footer {
    height: 80px;
    background-color: var(--cor_header_footer);
    justify-content: center;
    align-items: center;
    margin-top: 84vh;
}

footer > section {
    font-family: var(--fonte);
    color: #fff;
    font-size: 20px;
}