main{
    margin: 40px auto;
    width: 50vw;
    height: auto;
    background-color: cornsilk;
    border: 2px solid royalblue;
    border: 30px;
}

table, tr, td {
    border: 2px solid black;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
    padding: 5px;
    margin: 0 auto;
}

thead th{
    background: blueviolet;
    color: #fff;
}