*{
    padding: 0;
    margin: 0;
    border: 0;
}

header, main, footer{
    width: 80%;
    background-color: darkgoldenrod;
    margin: 10px auto 10px auto;
}

main{
    height: auto;
    margin: 10px auto 10px auto;
}

header{
    height: 60px;
}

footer{
    height: auto;
}

.ajustetamanho{
    height: 30vh;
    background-color: green;
}

.content-card > div, footer > div{
    width: 48%;
    height: 200px;
    background-color: blue;
}

.flex{
    display: flex;
}

.space-btw{
    justify-content: space-between;
}

section{
    margin: 10px 0 10px 0;
}

@media screen and (max-width: 700px) {
    body{
        background-color: black;
    }
    section{
        height: auto;
        flex-direction: column;
    }
    .content-card > div, footer > div{
        width: 100%;
        margin-bottom: 5px;
    }
}