*{
    padding: 0;
    border: 0;
    margin: 0;
}
div#maior{
    width: 100%;
    height: 100%;
    background-color: lightskyblue;
    position: absolute;
}
div.menor{
    width: 100px;
    height: 100px;
}
div#menor1{
    background-color: darkorange;
    position: absolute;
    top: 0;
    left: 0;
}
div#menor2{
    background-color: darkorange;
    position: absolute;
    bottom: 0;
    left: 0;
}
div#menor3{
    background-color: darkorange;
    position: absolute;
    bottom: 0;
    right: 0;
}
div#menor4{
    background-color: darkorange;
    position: absolute;
    top: 0;
    right: 0;
}