*{
    padding: 0;
    margin: 0;
    border: 0;
}
html{
    scroll-behavior: inherit ;
}
:root {
    --cor_de_fonte: red;
    --cor_background_padrao: yellow;
}
#header-top{
    width: 100%;
    height: 80px;
    background-color: orange;
}
main{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
article, p{
    width: 100%;
    height: auto;
}
p{
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 32px;
}
article #article-header{
    padding: 10px;
    height: auto;
    width: 100%;
}
article > #article-header > h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}
nav#menu{
    width: 80%;
    height: auto;
    padding: 10px;
    margin: 0 auto;
}
nav#menu > .item-menu{
    text-decoration: none;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav#menu > .item-menu:hover{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: red;
}
main > #receitas{
    background-color: var(--cor_background_padrao);
    width: 100%;
    height: 600px;
}